[submodule "driver"]
	path = driver
	url = https://github.com/root-hunter/rlink-driver
[submodule "client"]
	path = client
	url = https://github.com/root-hunter/rlink-client
[submodule "core"]
	path = core
	url = https://github.com/root-hunter/rlink-core